@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');

.app {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#login-form{
  background-color: rgba(242, 221, 221, 0.66);
  border-radius: 25px;
  font-family: Mitr;

}



#pages{
  font-size:200%;
  color: #db2518;
}

.navbar{
  background-color: bisque;
}

.is-light{
  font-family: Mitr;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.is-light:hover {
  background-color: #555555;
  color: white;
}